<div class="container">
  <div class="row">
    <form>
      <h2>Add record</h2>
      <div class="form-group">
        <label>Jogging date:</label>
        <input type="text" class="form-control" placeholder="mm/dd/yyyy" [(ngModel)]="date">
      </div>
      <div class="form-group">
        <label >Distance (m)</label>
        <input type="text" class="form-control"  placeholder="0" [(ngModel)]="distance">
      </div>
      <div class="form-group">
        <label>Time (s)</label>
        <input type="text" class="form-control" placeholder="0" [(ngModel)]="time">
      </div>
      <button class="btn btn-primary" type="submit" (click)="addRecord()">Save</button>
    </form>
  </div>
  <app-my2 *ngFor="let my2 of results"  style="  width: 77%; margin-left: 50px;"></app-my2>
</div>


